.breadcrumb-text {
  font-size: 10px !important;
  font-weight: 400;
}

.breadcrumb-text a {
  font-size: 10px !important;
  font-weight: 400;
}

.breadcrumb-text.active {
  font-size: 10px !important;
  font-weight: 400;
}